body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: url(../img/bgimg.jpg) no-repeat;
    background-size: cover;
    color: #333;
    /* background-color: rgb(228, 227, 221); */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    /* border: 2px solid rgba(255, 255, 255, .5); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

header a {
    text-decoration: none;
}

.logo {
    font-size: 2em;
    background: linear-gradient(to right, #0285ff, rgb(1, 4, 185), #0084ff);
    background-clip: text;
    color: transparent;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #4695DD;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #4695DD, rgb(1, 4, 185), #4695DD);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .login-btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #4695DD;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.1em;
    color: #4695DD;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.navigation .login-btn:hover,
.navigation .login-btn:focus {
    /* background-color: white;
    color: black;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    outline: none; */
    background: linear-gradient(to right, #4695DD, rgb(1, 4, 185), #4695DD);
    color: white;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    outline: none;
}

h1 {
    background: linear-gradient(to right, #4695DD, rgb(1, 4, 185), #4695DD);
    background-clip: text;
    margin: 0px 0;
    font-size: 48px;
    color: transparent;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

a {
    color: transparent;
    text-align: center;
}

h2 {
    background: linear-gradient(to right, #4695DD, rgb(1, 4, 185), #4695DD);
    background-clip: text;
    font-size: 24px;
    color: transparent;
}

#board {
    width: 460px;
    height: 460px;
    background: linear-gradient(to right, #4694dd22, #d7d4d4e4, #4694dd22);
    /* background: linear-gradient(to right, #4695DD, rgb(1, 4, 185), #4695DD); */
    /* background-color: #cdc1b5; */
    background-color: #2867a1;
    /* border: solid 4px #bbada0; */
    border: 5px ridge #006aff;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
        -10px -10px 10px #e2e2e2;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 95px;
    height: 95px;
    display: inline-block;
    margin: 10px;
    /* background-color: #cdc1b4; */
    background-color: #f4f4f4;
    color: #776e65;
    font-size: 30px;
    line-height: 95px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    user-select: none;
}

.x2 {
    /* background-color: #eee4da; */
    background-color: #dbe4eb;
    color: #776e65;
}

.x4 {
    background-color: #b3defc;
    color: #776e65;
}

.x8 {
    /* background-color: #f2b179; */
    background-color: #61c3f8;
    color: #f9f6f2;
}

.x16 {
    /* background-color: #f59563; */
    background-color: #617af8;
    color: #f9f6f2;
}

.x32 {
    /* background-color: #f67c5f; */
    background-color: #1c42fb;
    color: #f9f6f2;
}

.x64 {
    /* background-color: #f65e3b; */
    background-color: #4695DD;
    color: #f9f6f2;
}

.x128 {
    /* background-color: #edcf72; */
    background-color: #0fafff;
    color: #f9f6f2;
}

.x256 {
    /* background-color: #edcc61; */
    background-color: #0a84c1;
    color: #f9f6f2;
}

.x512 {
    background-color: #139ade;
    color: #f9f6f2;
}

.x1024 {
    background-color: #2882af;
    color: #f9f6f2;
}

.x2048 {
    background-color: #145d82;
    color: #f9f6f2;
}

.x4096 {
    background-color: #452ba2;
    color: white;
}

.x8192 {
    background-color: #0b2563;
    color: #f9f6f2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.overlay-content {
    border: 8px ridge #4695DD;
    padding: 130px 50px;
    text-align: center;
    background-color: #ffffff93;
    backdrop-filter: blur(10px);
}

.overlay-content h1 {
    font-size: 70px;
    margin-bottom: 10px;
}

.overlay-content h2 {
    background: linear-gradient(to right, #4695DD, #0104b9, #4695DD);
    background-clip: text;
    color: transparent;
    font-size: 40px;
    margin-bottom: 100px;
}

.overlay-content button {
    width: 46.9%;
    height: 50px;
    margin: 5px;
    background: transparent;
    border: 2px solid #4695DD;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: #4695DD;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
}

.overlay-content button:hover,
.overlay-content button:focus {
    background: linear-gradient(to right, #4695DD, rgb(1, 4, 185), #4695DD);
    color: white;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    outline: none;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.instruction-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.instruction-content {
    border: 8px ridge #4695DD;
    padding: 40px 20px;
    text-align: center;
    width: 634.828125px;
    background-color: #ffffff93;
    backdrop-filter: blur(10px);
}

.instruction-content h1 {
    background: linear-gradient(to right, #4695DD, #0104b9, #4695DD);
    background-clip: text;
    color: transparent;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 46.9px;
}

.instruction-content h2 {
    background: linear-gradient(to right, #4695DD, #0104b9, #4695DD);
    background-clip: text;
    color: transparent;
    font-size: 40px;
    margin-bottom: 50px;
}

.instruction-content button {
    width: 46.9%;
    height: 50px;
    margin: 5px;
    background: transparent;
    border: 2px solid #4695DD;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: #4695DD;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
}

.instruction-content button:hover,
.instruction-content button:focus {
    background: linear-gradient(to right, #4695DD, rgb(1, 4, 185), #4695DD);
    color: white;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    outline: none;
}

.instruction {
    text-align: left;
    margin-bottom: 50px;
    color: #4695DD;
    font-weight: 500;
    font-size: 1.3em;
}

.instruction li {
    margin-bottom: 15px;
}

kbd {
    font-family: monospace;
}

ion-icon {
    background-color: #4695DD;
    color: white;
    border: 1px solid #4695DD;
    border-radius: 2px;
    text-align: center;
    outline: none;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    body {
        background-position-x: -50vh;
        background-position-y: 5px;
    }
}

/* body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #faf8ef;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: solid 4px #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16 {
    background-color: #f59575;
    color: white;
}

.x32 {
    background-color: #f57c5f;
    color: white;
}

.x64 {
    background-color: #f65d3b;
    color: white;
}

.x128 {
    background-color: #edce71;
    color: white;
}

.x256 {
    background-color: #edcc63;
    color: white;
}

.x512 {
    background-color: #edc651;
    color: white;
}

.x1024 {
    background-color: #eec744;
    color: white;
}

.x2048 {
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
} */